<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Разрешения для BLE и OBD -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    
    <application>
        <!-- Сервис сбора данных OBD -->
        <service
            android:name=".services.CarDashDataCollectorService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
        
        <!-- Сервис подключения OBD -->
        <service
            android:name=".services.obd.ObdConnectionService"
            android:enabled="true"
            android:exported="false" />
    </application>
    
</manifest>
